code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.app{
  min-height:85vh;
}

.h-80{
  min-height:80vh;
}

.highlighted-task{
  border-width:7px;
  border-color:yellow;
}
