.col-min{
  min-width: 20vw;
}

.h-80{
  min-height:80vh;
}

.overflow-x{
  overflow-x: auto;
}

.navbar-horizontal-fixed{
  position: fixed;
  left: 0;
  right: 0;
}

.highlighted-task{
  border-color:yellow!important;
  border-width:7px!important;
}

.navbar-space{
  height: 60px;
}

.nav-z{
  z-index: 50;
}

.pointer{
  cursor:pointer;
}
.logo{
  max-height: 20px;
}
